---
layout: default
menu: home
css: ['index.css', 'sidebar-popular-repo.css']
---
<section class="jumbotron">
</section>
<section class="content container">

	<div >
		<ol class="post-list">
			<div class="row">
				{% for post in paginator.posts %}
				<li class="post-list-item col-md-4">
					<img class="post-list-image" src="{{ post.image.href }}">
					<h3 class="post-list-title">
						<a href="{{ post.url }}">{{ post.title }}</a>
					</h3>
					<p class="post-list-description">
					{{ post.excerpt | strip_html | strip }}
					</p>
					<p class="post-list-meta">
					<span class="octicon octicon-calendar"></span> {{ post.date | date: "%Y/%m/%d" }}
					</p>
				</li>
			{% endfor %}
			</div>
		</ol>

		<!-- Pagination -->
		{% include pagination.html %}

		<!-- Comments -->
		{% include disqus-comments.html %}

	</div>

</section>

